# Merging Survey and Platform Data -  Group with Randomization

Completely done in Python. There ore no steps required in Excel

v1_28.03.2024

In [2]:
import pandas as pd

In [3]:
# Load the first dataset
df1 = pd.read_csv('data_prep_validation1_pre-merge_survey.csv',  sep=';')

# Load the second dataset
df2 = pd.read_csv('data_prep_cleaned_platform.csv',  sep=';')

In [4]:
# Merge the datasets on 'VPNCode'
merged_df = pd.merge(df1, df2[['VPNCode', 'group_nr']], on='VPNCode', how='inner')

In [5]:
# Treat 'group_nr' as a categorical variable
merged_df['group_nr'] = merged_df['group_nr'].astype('category')

In [6]:
merged_df.head()

,VPNCode,AILiteracy[Use1],AILiteracy[Use2],AILiteracy[Use3],AILiteracy[Use4],AILiteracy[Use5],AILiteracy[Use6],AILiteracy[Kno1],AILiteracy[Kno2],AILiteracy[Kno3],...,NEO[E],NEO[A],NEO[C],NEO[N],NEO[O],JC1[IStR],JC1[HRJD],JC2[IStR],JC2[HRJD],group_nr
0,ABO2606,3,4,3,3,3,3,4,3,3,...,2.75,3.00,3.75,2.50,3.6,2.8,2.333333,2.8,4.00,1
1,APE2704,5,5,5,5,5,5,5,5,4,...,2.25,3.25,4.00,2.25,3.6,3.0,2.333333,4.6,4.00,3
2,SSG0102,5,4,4,4,4,2,5,2,4,...,3.75,3.50,3.50,2.25,4.0,3.8,3.666667,5.0,2.75,3
3,ECH2807,4,4,4,4,4,4,5,5,4,...,3.00,3.50,3.25,2.50,4.0,3.4,3.333333,3.8,3.75,4
4,AST1210,5,4,4,4,4,4,4,4,2,...,3.00,4.00,3.75,3.00,4.2,4.4,3.666667,3.2,5.00,3

In [7]:
# Save DF in a new CSV-File 
merged_df.to_csv('data_prep_validation1.csv', index=False, encoding='utf-8-sig', sep=',')