# Merging all the Data from the Groups with and without Randomization

Completely done in Python. There ore no steps required in Excel

v1_03.04.2024

In [1]:
import pandas as pd

In [3]:
# Load the datasets
df1 = pd.read_csv('data_merged_1st.csv')
df2 = pd.read_csv('data_merged_2nd.csv')

In [4]:
# Identify all unique columns across both datasets
all_columns = sorted(set(df1.columns).union(set(df2.columns)))

In [5]:
# Add missing columns to each dataframe with filler values where necessary
for col in all_columns:
    if col not in df1.columns:
        df1[col] = 0  
    if col not in df2.columns:
        df2[col] = 0

In [6]:
# Reorder columns to match across both dataframes, using the sorted list of all unique columns
df1 = df1.reindex(columns=all_columns)
df2 = df2.reindex(columns=all_columns)

In [7]:
# Concatenate the datasets
merged_df = pd.concat([df1, df2], ignore_index=True)

In [8]:
# Fill any other missing values that might still exist after alignment
merged_df.fillna(0, inplace=True)

In [10]:
# Look at the complete dataset
merged_df.head()

,AGE,AILiteracy[Det],AILiteracy[Eth],AILiteracy[Kno],AILiteracy[Use],All_Prompts,Average_Word_Count,CMV,Edu_Abitur_oder_Fachabitur,Edu_Bachelor,...,WORK,group_nr,syst_total_time,time_demogr,time_pers,time_survey1,time_survey1.1,time_task1,time_task2,total_time
0,22,4.000000,2.5,3.333333,3.166667,Ich benötige Unterstützung bei der Entwicklung...,39.333333,4.666667,0,1,...,25,1,35.038667,9.134167,1.056333,1.290833,11.509667,11.980833,0.066833,35.0
1,20,3.333333,3.5,4.833333,5.000000,\nHilf mir diese Aufgabe zu lösen:\n\n\nEs ist...,108.750000,2.000000,1,0,...,15,3,23.169333,2.530833,1.257667,1.443167,11.385000,6.372500,0.180167,23.0
2,20,3.333333,2.0,4.333333,3.833333,Wie wichtig ist Nachhaltigkeit heute || wie ka...,11.571429,3.666667,1,0,...,20,3,34.525167,3.595667,1.301500,1.658333,2.625667,10.433000,14.911000,34.0
3,21,4.666667,3.0,4.500000,4.000000,"Hey ChatGPT, du bist ein Marketing-Genie, das ...",55.750000,4.000000,1,0,...,30,4,46.279833,1.717167,0.610833,0.892167,1.821167,21.664167,19.574333,46.0
4,25,4.000000,3.0,3.833333,4.166667,"Hallo, kannst du mir ein Kommunikationskonzept...",20.500000,4.333333,0,0,...,60,3,28.102000,3.470833,1.178833,1.634500,2.959667,12.412667,6.445500,28.0

In [11]:
# Save DF in a new CSV-File 
merged_df.to_csv('data_merged_all.csv', index=False, encoding='utf-8-sig', sep=',')