# Pre-Processing of Platform Data -  Group with Randomization

Completely done in Python. There ore no steps required in Excel

v2_18.04.2024

Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df = pd.read_csv('2024_04_14_results-platform.csv')

In [3]:
# Take a look at the data structure
df.head()

,_id,user_id,group_nr,task_nr,tracking type,action,timestamp,who,text
0,65ddae33def0ea9b7c8f2dcb,1000300,1.0,-1,NaN,NaN,NaN,NaN,NaN
1,65ddae33def0ea9b7c8f2dcc,1000300,1.0,-1,MOUSE,Intro submit button clicked!,27/02/2024 09:41:07,NaN,NaN
2,65ddae35def0ea9b7c8f2dcd,1000300,1.0,1,MOUSE,Answer box is selected!,27/02/2024 09:41:09,NaN,NaN
3,65ddae36def0ea9b7c8f2dce,1000300,1.0,1,MOUSE,Answer box is changed!,27/02/2024 09:41:10,NaN,NaN
4,65ddae3cdef0ea9b7c8f2dcf,1000300,1.0,1,MOUSE,Answer box is de-selected!,27/02/2024 09:41:16,NaN,NaN

In [4]:
# Drop the unnecessary columns
columns_to_drop = ["_id", "task_nr", "tracking type", "action", "timestamp", 'who', 'text']
df.drop(columns=columns_to_drop, inplace=True)

In [5]:
# Rename the column "user_id" to "VPNCode"
df.rename(columns={"user_id": "VPNCode"}, inplace=True)

In [6]:
# Filter the dataset to include only rows with the specified VPNCode values
vpn_codes_to_keep = [
    "ZZEBA0308", "ZZNRO406", "ZZSSA0301", "ZZAWA0212", "ZZKO1608",
    "ZZNWA1604", "ZZALA3008", "ZZUVI2004", "ZZAUL2008", "ZZRHA2012",
    "ZZUWA3006", "ZZAOT0412", "ZZNBI2609", "ZZUST0208", "ZZASE1301",
    "ZZELU0612", "ZZUFL0505", "ZZEDR2902", "ZZEAN0306", "ZZIBI2311",
    "ZZEKI2929", "ZZAFE1203", "ZZIWA2610", "ZZAGE607", "ZZAH0702",
    "ZZEFO1204", "ZZIBO2610", "ZZAKO1412", "ZZADE1405", "ZZDSC0806",
    "ZZEDH1501", "ZZINe2902", "ZZHMU0112", "ZZAKY2105", "ZZeKa1405",
    "ZZIKO0401", "ZZAZW0718", "ZZYPE1411", "ZZANI25", "ZZOHA2303",
    "ZZAWH2506", "ZZize1717", "ZZRDO1608", "ZZEOT3110", "ZZICO1912",
    "ZZTHA1907", "ZZAMA0101", "ZZESA3011", "ZZEFR1909", "ZZEES0811",
    "ZZAKI601", "klief99", "ZZAMU1201"
]

df = df[df['VPNCode'].isin(vpn_codes_to_keep)]

In [9]:
# Remove duplicate rows that may have resulted from the merge (since we've aggregated prompting info at the user level)
df_final = df.drop_duplicates(subset=['VPNCode'])

In [11]:
# Cleaned and reorganized DataFrame
df_final.head()

        VPNCode  group_nr
1999  ZZUVI2004       5.0
2003   ZZNRO406       4.0
2005   ZZKO1608       2.0
2011  ZZAWA0212       3.0
2021  ZZRHA2012       4.0

In [12]:
# Save DF in a new CSV-File 
df_final.to_csv('data_prep_cleaned_platform.csv', index=False, encoding='utf-8-sig', sep=',')